body {
    background-color: #e9ecef;
    font-family: Arial, sans-serif;
}

#título {
    text-align: center;
}

#nombre, #precio {
    width: 200px;
    text-align: center;
    margin: 5px;
}

#div {
    display: flex;
    flex-direction: column;
    gap: 10px; /* ✅ ahora sí funciona */
    margin-top: 20px;
}

.producto {
    background-color: rgb(2, 123, 40);
    border-radius: 6px;
    padding: 10px;
    color: white;
}
    
#botón {
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
}

#botón:hover {
    background-color: #0056b3;
}
